.vscode/**
.vscode-test/**
.editorconfig
.prettierrc.js
out/**
node_modules/**
src/**
.gitignore
.yarnrc
esbuild.js
release.sh
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
!src/media/icon.png
!src/media/icon.svg
!src/todo.code-snippets
